<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icons8"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icons8"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.LogIn"
            android:configChanges="orientation"
            android:label="@string/title_activity_log_in"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Register"
            android:configChanges="orientation"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.UserPage"
            android:configChanges="orientation"
            android:label="@string/title_activity_user_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.EventAdd"
            android:configChanges="orientation"
            android:label="@string/title_activity_event_add"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.EventDetail"
            android:configChanges="orientation"
            android:label="@string/title_activity_event_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.EventDetailed"
            android:configChanges="orientation"
            android:label="@string/title_activity_event_detailed"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.TaskAdd"
            android:label="@string/title_activity_task_add"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.TaskDetail"
            android:label="@string/title_activity_task_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Contacts"
            android:label="@string/title_activity_contacts"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>